// MARGIN
.m1 {
  margin: 4px;
}
.m2 {
  margin: 8px;
}
.m3 {
  margin: 12px;
}
.m4 {
  margin: 16px;
}

// MARGIN-TOP

.mt-1 {
  margin-top: 4px;
}
.mt-2 {
  margin-top: 8px;
}
.mt-3 {
  margin-top: 12px;
}
.mt-4 {
  margin-top: 16px;
}

// MARGIN-BOTTOM

.mb-1 {
  margin-top: 4px;
}
.mb-2 {
  margin-top: 8px;
}
.mb-3 {
  margin-top: 12px;
}
.mb-4 {
  margin-top: 16px;
}

// PADDING
.p1 {
  padding: 4px;
}
.p2 {
  margin: 8px;
}
.p3 {
  margin: 12px;
}
.p4 {
  margin: 16px;
}

// HEADER

h1 {
  font-size: 19px;
  line-height: normal;
}
